/* Main.css */

label {
  min-width:20%;
}

form select, form input, form textarea {
  min-width:25%;
}
input[type="file"] {
	display: inline-block;
}

.skin-blue .main-header .logo {
	background-color: #EEE;
}

div.login-logo img{
	max-height: 200px;
}

.logo-lg img{
	width:60%;
}

.logo-mini img{
	width:30px;
}

.dashboard table .fa-star{
	color:#00C0EF;
}

.dashboard table .ion-stats-bars{
	color:#00A65A;
}

.dashboard table .fa-edit{
	color:#F39C12;
}

.dashboard table .fa-edit.fa-blue{
	color:#3C8DBC;
}

.news-edit {
	overflow:hidden;
}

.news-edit a.send{
 	min-width:25%;
}

.news-left{
	/*outline:1px solid blue;*/

}


.news-left label, form select, form input, form textarea {
	min-width: 40%;
}

.news-right img{
	background:dimgray;
	width:80%;
	max-height:600px;
	display:block;
}