<template name="collectionsNewsData">
  {{# Layout template="orionBootstrapMediumContentOffset" }}
    {{# Layout template="orionBootstrapTitle" }}
      Categorizar Noticia
    {{/ Layout }}
    {{# Layout template="orionBootstrapContentContainer" }}
        {{# if newsData }}
          {{> quickForm schema=getSchema id="collectionsNewsDataForm" buttonContent=false type="update" doc=newsData collection="NewsData" }}
          <br>
          <div class="row">
            <div class="col-sm-4">
              {{# with agency }}
                <p>
                  <b>{{ name }}</b>
                </p>
              {{/ with }}
            </div>
            <div class="col-sm-8">
              <div class="buttons text-right">
                <a class="btn btn-default" href="{{ pathFor 'collections.news.index' }}">{{ i18n 'global.cancel' }}</a>
                <a class="btn btn-primary save-btn">Guardar</a>
              </div>
            </div>
          </div>
        {{ else }}
          <p>
            Ocurrió un error
          </p>
        {{/ if }}
    {{/ Layout }}
  {{/ Layout }}
</template>
