<template name="newsImport">
  {{# Layout template="orionBootstrapSmallContentOffset" }}
    {{# Layout template="orionBootstrapTitle" }}
      Importar Noticias
    {{/ Layout }}
    {{# Layout template="orionBootstrapContentContainer" }}
      <div class="row">
        <div class="col-sm-6">
          <p>
            <b>Tipo de Archivo</b>
          </p>
          <div class="radio">
            <label>
              <input type="radio" name="type" value="nex" checked>
              Nex
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" value="agure">
              Agure
            </label>
          </div>
        </div>
        <div class="col-sm-6">
          <p>
            <b>Archivo</b>
          </p>
          <span class="btn btn-default btn-file btn-xs">
            Seleccionar archivo <input type="file">
          </span>
        </div>
      </div>
    {{/ Layout }}
  {{/ Layout }}
</template>
