<template name="collectionsNewsIndex">
  {{# Layout template="orionBootstrapMediumContentOffset" }}
    {{# Layout template="orionBootstrapTitle" }}
      {{ collection.title }}
      {{# if collection.canShowCreate }}
        <a href="{{ collection.createPath }}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i></a>
      {{/ if }}
    {{/ Layout }}
    <div class="controls ">
      {{# autoForm schema="SearchNewsSchema" id="collectionsNewsIndexSearchForm" }}
        <div class="row">
          <div class="col-sm-3">
            {{> afQuickField name='groupsIds' }}
          </div>
          <div class="col-sm-3">
            {{> afQuickField name='brandsIds' }}
          </div>
          <div class="col-sm-2">
            {{> afQuickField name='fromDate' }}
          </div>
          <div class="col-sm-2">
            {{> afQuickField name='toDate' }}
          </div>
          <div class="col-sm-2">
            {{> afQuickField name='filter' }}
          </div>
        </div>
      {{/ autoForm }}
    </div>
    <div class="data">
      {{# if totalCount }}
        <p>
          <b>{{ localCount }} de {{ totalCount }}</b>
        </p>
      {{/ if }}
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox">
            </th>
            <th>
              Título
            </th>
            <th>
              Fecha
            </th>
            <th>
              Marca
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          {{# each news }}
            <tr>
              <td>
                <input type="checkbox">
              </td>
              <td>
                {{ shortenString title 60 }}
              </td>
              <td>
                {{ dateFormat date 'L' }}
              </td>
              <td>
                {{# each brands }}
                  {{ name }}
                {{/ each }}
              </td>
              <td>
                <div class="btn-group">
                  <a href="{{ pathFor 'collections.news.show' }}" class="btn btn-xs btn-default">Ver</a>
                  <a href="{{ pathFor 'collections.news.data' }}" class="btn btn-xs btn-default">Categorizar</a>
                  <a href="{{ pathFor 'collections.news.update' }}" class="btn btn-xs btn-default">Editar</a>
                </div>
              </td>
            </tr>
          {{/ each }}
        </tbody>
      </table>
        <p>
          {{# if totalCount }}
            <b>{{ localCount }} de {{ totalCount }}</b>
          {{/ if }}
          {{# if Template.subscriptionsReady }}
            {{# if canLoadMore }}
              <a href="#" class="load-more-btn">Cargar Mas</a>
            {{/ if }}
          {{ else }}
            <b>Cargando...</b>
          {{/ if }}
        </p>
    </div>
    <br><br>
  {{/ Layout }}
</template>
