<template name="collectionsNewsShow">
  {{# Layout template="orionBootstrapMediumContentOffset" }}
    {{# Layout template="orionBootstrapTitle" }}
      Noticia
    {{/ Layout }}
    {{# Layout template="orionBootstrapContentContainer" }}
      {{#if Template.subscriptionsReady}}
        {{# with article }}
          <p>
            <small>
              {{ dateFormat date 'LL' }}
            </small>
          </p>
          <h3>
            {{ title }}
          </h3>
          <p>
            {{ subtitle }}
          </p>

          {{# each media }}
            <p>
              <a href="{{ url }}" target="_blank">
                <img src="{{ url }}" alt="" style="width: 100%" />
              </a>
            </p>
          {{/ each }}

          <br>
          <div class="body">
            {{ nl2br body }}
          </div>
          <br>

          {{# with url }}
            <p>
              <a href="{{ this }}" target="_blank">{{ this }}</a>
            </p>
          {{/ with }}

          <h1>Joaquin terminar esto plss</h1>
        {{ else }}
          <p>
            No se encontró el artículo
          </p>
        {{/ with }}
      {{else}}
        <p>
          Cargando...
        </p>
      {{/if}}
    {{/ Layout }}
  {{/ Layout }}
</template>
