<template name="sidebar">
  <ul class="sidebar-nav orion-links">
    <li class="sidebar-brand">
      <a href="#">
        {{# if currentUser.hasRole 'cliente' }}
          {{# if agency.logo }}
            <img src="{{ agency.logo.url }}" alt="{{ agency.name }}" style="height: 45px" />
          {{ else }}
            {{ agency.name }}
          {{/ if }}
        {{ else }}
          Admin
        {{/ if }}
      </a>
    </li>
    {{# each adminLinks }}
      {{> orionBootstrapSidebarLink }}
    {{/ each }}
  </ul>
</template>
