<template name="dashboard">
  {{# Layout template="orionBootstrapMediumContentOffset" }}
    {{# Layout template="orionBootstrapTitle" }}
      Dashboard
    {{/ Layout }}

    {{# if Template.subscriptionsReady }}

      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h3>{{ brandsCount }}</h3>
            <h4>Marcas</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3>{{ newsCount }}</h3>
            <h4>Noticias</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="dashboard">
            <h3>{{ newsToCategorize }}</h3>
            <h4>Noticias por categorizar</h4>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>
              Nombre
            </th>
            <th>
              Marcas
            </th>
            <th>
              Noticias Categorizadas
            </th>
            <th>
              Por Categorizar
            </th>
          </tr>
        </thead>
        <tbody>
          {{# each users }}
            <tr>
              <td>
                {{ profile.name }}
              </td>
              <td>
                {{# if userBrands }}
                {{# each userBrands }}
                  <span class="label label-danger">{{ name }}</span>
                {{/ each }}
                {{ else }}
                  Sin marcas
                {{/ if }}
              </td>
              <td>
                {{# if userBrands }}
                <b>{{ userCategorized }}</b> ({{ userCategorizedPercentage }})
                {{ else }}
                Sin noticias
                {{/ if }}
              </td>
              <td>
                {{# if userBrands }}
                <b>{{ userToCategorize }}</b>
                {{ else }}
                Sin noticias
                {{/ if }}
              </td>
            </tr>
          {{/ each }}
        </tbody>
      </table>
    {{ else }}
      <p>
        <b>Cargando...</b>
      </p>
    {{/ if }}
  {{/ Layout }}
</template>
